<h3>{{name}}</h3>
<ul id="detailListView" data-role="detailListview" data-theme="c" data-dividertheme="a" data-inset="true">
	<li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">date: {{date}}</li>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">Address: {{address}}</li>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">Results: {{results}}</li>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">Type: {{type}}</li>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">Violations: {{violations}}</li>
</ul>